<!doctype html>
<html lang="en">
<head>
<style>
    html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#pageTitle {
    text-align:center;
    margin:0 auto;
    
}

.clubContainer{
    border:1px solid black;
    margin: 10px auto;
    width:95%;
    text-align:center;
    padding:30px 0;
}
.clubContainer img {
    width:65%;
}
.infoTitle {
    font-weight:bold;
}
.clubInfo {
    width: 65%;
    margin: auto;
    text-align: left;
}
.clubTitle {
    font-size: 2em;
    background:orange;
    width :63%;
    margin: 0 auto;
    color:white;
    padding:10px;
}

</style>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--<h1 id="pageTitle">Clubs page</h1>-->

<% clubs.forEach(function(club) { %>
    <div class="clubContainer">
        <div class="mainImage">
            <h4 class="clubTitle"><%= club.name %></h4>
            <img src="<%= club.image %>">
        </div>
        <div class="clubInfo">
            
            <p><span class="infoTitle">Address:</span> <%= club.address %></p>
            <p><span class="infoTitle">HR Contact:</span> <%= club.hrContact %></p>
            <p><span class="infoTitle">HR Phone:</span> <%= club.hrPhone %></p>
            <p><span class="infoTitle">HR Email:</span> <%= club.hrEmail %></p>
            <p><span class="infoTitle">GM Contact:</span> <%= club.GmContact %></p>
            <p><span class="infoTitle">GM Phone:</span> <%= club.GmPhone %></p>
            <p><span class="infoTitle">GM Email:</span> <%= club.GmEmail %></p>
            <p><span class="infoTitle">Distance:</span> <%= club.distance %></p>
            <p><span class="infoTitle">Notes: <%= club.notes %></p>
        </div><!--class="clubInfo End"-->
    </div> <!--class="clubContainer END"-->
<% }) %>   
</body>
</html>







        <!--name: "Fort Lauderdale Country Club",-->
        <!--address: "415 E Country Club Cir, Fort Lauderdale, FL 33317",-->
        <!--hrContact: "Harry Smith",-->
        <!--hrPhone: "347-666-1234",-->
        <!--hrEmail: "default@gmail.com",-->
        <!--GmContact: "Anthony Mandatta",-->
        <!--GmPhone: "347-452-9552",-->
        <!--GmEmail: "gmmanaer@club.com",-->
        <!--distance: "12.7 miles",-->
        <!--notes: "This could be General Notes Section Some more Notes",-->
        <!--image: "https://farm3.staticflickr.com/2217/1711688729_10fd998b5d.jpg"-->