<% include partials/header %>
<h1>SHOW ONE PAGER</h1>

<p> <%= club.name %></p>
<p> <%= club.address %></p>
<p> <%= club.hrcontact %></p>
<p> <%= club.hremail %></p>
<p> <%= club.hrphone %></p>
<p> <%= club.gmcontact %></p>
<p> <%= club.gmphone %></p>
<p> <%= club.gmemail %></p>
<p> <%= club.distance %></p>
<p> <%= club.notes %></p>
<img src="<%= club.image %>">
<% include partials/footer %>



