<% include partials/header %>


<div id="showContainer">
    <div class="showContent">
        <p class="showTitles">Club Name</p>
        <p> <%= club.name %></p>
        <p class="showTitles">Address</p>
        <p> <%= club.address %></p>
        <p class="showTitles">HR Contact</p>
        <p> <%= club.hrcontact %></p>
        <p class="showTitles">HR Email</p>
        <p> <%= club.hremail %></p>
        <p class="showTitles">HR Phone</p>
        <p> <%= club.hrphone %></p>
        <p class="showTitles">GM Contact</p>
        <p> <%= club.gmcontact %></p>
        <p class="showTitles">GM Phone</p>
        <p> <%= club.gmphone %></p>
        <p class="showTitles">GM Email</p>
        <p> <%= club.gmemail %></p>
        <p class="showTitles">Distance</p>
        <p> <%= club.distance %></p>
        <p class="showTitles">Notes</p>
        <p> <%= club.notes %></p>    
    </div>
    <div class="showImg">

        <img src="<%= club.image %>">         
    </div>
    <div class="cf"></div>
<div class="commentsContainer">
    
    <form>
        <p class="showTitles">Comments</p><br>
        <textarea type="text" placeholder="Add Comment"></textarea>
        <button>Submit</button>
    </form>
</div>
</div><!--id="showContainer END"-->


<% include partials/footer %>



