<% include partials/header %>
<h1>SHOW ONE PAGER</h1>
<% clubs.forEach(function(club){ %>
    <p><span class="infoTitle">HR Contact:</span> <%= club.hrcontact %></p>
    <p><span class="infoTitle">HR Phone:</span> <%= club.hrphone %></p>
    <p><span class="infoTitle">HR Email:</span> <%= club.hremail %></p>
    <p><span class="infoTitle">GM Contact:</span> <%= club.gmcontact %></p>
    <p><span class="infoTitle">GM Phone:</span> <%= club.gmphone %></p>
    <p><span class="infoTitle">GM Email:</span> <%= club.gmemail %></p>
    <p><span class="infoTitle">Distance:</span> <%= club.distance %></p>
    <p><span class="infoTitle">Notes:</span> <%= club.notes %></p>
<% }) %>

<% include partials/footer %>
