<% include ../partials/header %>


<div id="showContainer">
    <div class="showContent">
        <p class="showTitles">Club Name</p>
        <p> <%= club.name %></p>
        <p class="showTitles">Address</p>
        <p> <%= club.address %></p>
        <p class="showTitles">HR Contact</p>
        <p> <%= club.hrcontact %></p>
        <p class="showTitles">HR Email</p>
        <p> <%= club.hremail %></p>
        <p class="showTitles">HR Phone</p>
        <p> <%= club.hrphone %></p>
        <p class="showTitles">GM Contact</p>
        <p> <%= club.gmcontact %></p>
        <p class="showTitles">GM Phone</p>
        <p> <%= club.gmphone %></p>
        <p class="showTitles">GM Email</p>
        <p> <%= club.gmemail %></p>
        <p class="showTitles">Distance</p>
        <p> <%= club.distance %></p>
        <p class="showTitles">Notes</p>
        <p> <%= club.notes %></p>
        <p class="showTitles">Submitted By</p>
        <p> <%= club.author.username %></p>  
    </div>
    <div class="showImg">
        <img src="<%= club.image %>">
            <!--NEED TO GET EDIT BUTTONS TO HIDE IF NOT LOGGED IN-->
             <% if(currentUser && club.author.id.equals(currentUser._id)) { %>
           
           <a href="/clubs/<%= club._id %>/edit">Edit Club</a>
             <form action="/clubs/<%= club._id %>?_method=DELETE" method="POST">
                <button>Delete</button> 
             </form>
             <% } %>
    </div>
    <div class="cf"></div>
<br>    
<br>
<div style="margin:0 auto; width: 100%; height:2px; background: #EEE;">

</div>

<div class="addCommentsContainer">
     <form action="/clubs/<%= club._id %>/comments" method="POST">
 
        <textarea name="comment[text]" type="text" placeholder="Add Comment"></textarea>
        <!--<p class="showTitles">Comments</p><br>-->
        <!--<textarea type="text" placeholder="Add Comment"></textarea>-->
        <button>Submit</button>
    </form>
</div>
<div class="commentsMain">
     <% club.comments.forEach(function(comment) { %>
        <p id="commentAuthor"><%=comment.author.username %>
        <h4 id="commentText"><%=comment.text %></h4>
    <% }) %>   
</div>

</div><!--id="showContainer END"-->

<% include ../partials/footer %>



